@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

ol, ul, li {
    list-style: none;
}

.body{
    width: 430px;
    height: 703px;
    background-color: #E5E5E5;
}

/* HEADER */
.header{
    width: 430px;
    height: 96px;
    background-color: #5300C8;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contenedor__corazones__alura{
    width: 138px;
    height: 56px;
  
}

.header__h3__alurageek{
    width: 340px;
    height: 51px;
    font-family: "Press Start 2p";
    font-size: 24px;
    color: #E5E5E5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
}
.linea__divisora{
    width: 430px;
    height: 5px;
}

/*MAIN FORMULARIO AGREGAR PRODUCTOS*/


.agregar__producto{
    width: 430px;
    height: 556px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    gap: 40px;
}

.h3__titulo{
    width: 350px;
    height: 48px;
    font-family: 'Press Start 2P';
    font-size: 24px;
    text-align: center;
    margin-top: 40px;
}

.form__agregar__producto{
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.input__agregar__producto::placeholder{
     font-family: "IBM Plex Mono";
     color:#03318C
}
    
     
.input__agregar__producto{
    width: 350px;
    height: 58px;
    border-radius:45px;
    border-color: #03318C;
    padding-left: 12px;
}

.contenedor__botones{
    width: 350px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contenedor__botones button{
    width: 164px;
    height: 55px;
    border-radius: 15px;
    
}

.boton__enviar{
    background-color: #03318C;
    font-family: "IBM Plex Mono";
    color:#ffffff;

}

.boton__limpiar{
    background-color: #ffffff;
    border-color: #03318C;
    font-family: "IBM Plex Mono";
    color:#03318C
    
}

/* MAIN PRODUCTOS */

.mis__productos{
    width: 430px;
    height: 814px;
    background-color: #ffffff; 
    display: flex;
    flex-direction: column;
}

.h3__productos{
    width: 428px;
    height: 24px;
    font-family: 'Press Start 2P';
    font-size: 24px;
    text-align: center;
    margin-bottom: 100px;

}

.contenedor__producto{
    background-color: #5D04D9;
    border: solid 1px #000000;
    border-radius: 10px;
    width: 196px;
    height: 258px;
    margin-left: 9.5px;
    margin-right: 9.5px;
    padding-top: 8px;
    padding-bottom: 8px; 
    
    }

.imagen__producto{
    width: 176px;
    height: 174px;
    margin-left: 8px;
    margin-right: 8px;
}    

.nombre__producto{
    width: 176px;
    height: 20px;
    font-family: "IBM Plex Mono";
    font-size: 15px;
    color: #ffffff;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 20px;
    
}

.precio__producto{
    width: 142px;
    height: 21px;
    font-family: "IBM Plex Mono";
    font-size: 16px;
    color: #ffffff;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 6px;
    margin-bottom: 4px;

}

.p_e_icono{
    display: flex;
}

.footer{
    width: 430px;
    height: 168px;
    background-color: #5300C8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.corazones__alura{
    width: 374px;
    height: 56px;
    display: flex;
    justify-content: space-around;
}

.h3__alurageek{
    font-family: "Press Start 2p";
    font-size: 24px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.texto__final__footer{
    width: 269px;
    height: 48px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.parrafo__desarrollado{
    width: 269px;
    height: 18px;
    font-family: "IBM Plex Mono";
    font-size: 16px;
    color: #ffffff;
    text-align: center;

}

.alura__año{
    width: 269px;
    height: 18px;
    font-family: "IBM Plex Mono";
    font-size: 16px;
    color: #ffffff;
    font-weight: lighter;
    text-align: center;
}
/*desktop*/

@media (min-width:1440px){

/*header*/

.header{
    width: 1440px;
    height: 96px;
}    

.linea__divisora{
    width: 1440px;
    height: 5px;
}

/*main*/

.body{
    width: 1440px;
    height: 1000px;
}

.main{
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    width: 1440px;
    height: 750px;
}
 
.agregar__producto{
    width: 472px;
    height: 517px;
   order: 1;
}  

.mis__productos{
    width: 758px;
    height: 750px;
    order: 0;
    display:flex;
}

.h3__productos{
    width: 758px;
    height: 24px;
    font-family: 'Press Start 2P';
    font-size: 24px;
    text-align: center;
    margin-top:50px;
    margin-bottom: 50px;
}

/*footer*/

.footer{
    width: 1440px;
    height: 232px;
    background-color: #5300C8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


}





